version: 2
updates:
  # Backend dependencies
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "go"
    commit-message:
      prefix: "chore"

  # Docker dependencies
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"

  # Frontend dependencies
  - package-ecosystem: "npm"
    directory: "/ui/leafwiki-ui"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "frontend"
    commit-message:
      prefix: "chore"

  # End-to-end tests
  - package-ecosystem: "npm"
    directory: "/e2e"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "e2e"
    commit-message:
      prefix: "chore"