# shellcheck shell=bash

if command -v nix >/dev/null 2>&1; then
  if ! has nix_direnv_version; then
    log_status "nix-direnv not found; installing to add nix support..."
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.1/direnvrc" "sha256-p+fzQdrms/hDa7g+soShAybJNo4bN4SIAeSfqNKgD5I="
  fi

  log_status "Loading nix shell from flake..."
  log_status "To suppress direnv log output: export DIRENV_LOG_FORMAT=\"\""

  watch_file $(find . -name "*.nix")
  use flake
fi
